:root {
  --game-container-margin: 1rem;
  --transparent-background: rgba(255, 255, 255, 0.2);
  --card-size: 24vh;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
html {
  font-size: 62.5%;
}

body {
  text-align: center;
  color: #fff;
  background: rgb(0, 69, 38);
  background: radial-gradient(circle, rgba(3, 192, 60, 1) 0%, rgba(0, 69, 38, 1) 100%);
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: var(--game-container-margin);
  height: calc(100vh - (var(--game-container-margin) * 2));
  /* overflow: hidden; */
}
/* #game-container {
  display: none;
}
#settings-container {
  display: none;
} */
/* #bettin-container {
  display: none;
} */
.hidden {
  display: none;
  /* animation: fadeout 1s; */
}

#balance {
  padding-top: 25vh;
  font-size: 3.5rem;
  margin-bottom: 4rem;
}
.balance-move {
  position: fixed !important;
  top: 3rem !important;
  left: 3rem !important;
  font-size: 2rem !important;
  padding-top: 0 !important;
}
#bet-mid > span {
  font-size: 3rem;
  margin-left: 3rem;
}
.remaining-cards {
  position: fixed;
  top: 3rem;
  right: 3rem;
}
.remaining-cards img {
  width: 4rem;
}
.dealerHand,
.playerHand {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1rem;
  z-index: -5;
}

.round-total {
  display: inline-block;
  padding: 2rem;
  min-width: 7rem;
  border-radius: 50%;
  background-color: var(--transparent-background);
  font-size: 2.8rem;
  margin: 0.8rem 1.2rem;
}
#round span {
  font-size: 3rem;
}
.cards {
  margin-left: calc((var(--card-size) / 2.7));
  z-index: -5;
}
.card {
  display: inline-block;
  margin-left: calc((var(--card-size) / -2.5));
  z-index: -5;
  /* animation: dealeffect 1s; */
}
/* TODO scale card size based on wievport and maybe chip size? */
.card img {
  height: var(--card-size);
}
#splash-screen {
  display: none;
  flex-direction: column;
  position: fixed;
  inset: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 65%);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4rem;
}

@keyframes balanceeffect {
  0% {
    transform: translateY(3rem) translateX(3rem) scale(1.3);
  }

  100% {
    transform: translateY(0rem) translatex(0rem) scale(1);
  }
}

@keyframes dealeffect {
  0% {
    transform: translateY(-15rem) translateX(35rem) scale(0);
  }
  /* 33% {
    transform: translateY(-15rem) translateX(15rem);
  }
  66% {
    transform: translateY(-10rem) translateX(10rem);
  } */
  100% {
    transform: translateY(0rem) translatex(0rem) scale(1);
  }
}

/**********
ribbon
**********/

.ribbon {
  --ribbon-win-color: #451;
  --ribbon-win-background: #9b2;
  --ribbon-win-shadow: #791;
  --ribbon-tie-color: #444;
  --ribbon-tie-background: #999;
  --ribbon-tie-shadow: #777;
  --ribbon-lose-color: #5e0b0c;
  --ribbon-lose-background: #d33a53;
  --ribbon-lose-shadow: #991111;

  box-sizing: content-box;
  position: absolute;
  margin-top: 7vh;
  width: calc((var(--card-size) * 1.25));
  font-size: 3rem;
  line-height: 6rem;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset, 0 6px 10px rgba(0, 0, 0, 0.15);
}
/* ribbon-win */
.ribbon-win::before,
.ribbon-win::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  z-index: -1;
  left: -7rem;
  top: 2rem;
  width: 4rem;
  border: 30px solid var(--ribbon-win-background); /*bg*/
  border-right: 20px solid var(--ribbon-win-shadow); /*sh*/
  border-left-color: transparent;
  transform: rotate(-5deg);
}

.ribbon-win::after {
  box-sizing: content-box;
  left: auto;
  right: -7rem;
  border-left: 20px solid var(--ribbon-win-shadow); /*sh*/
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}

.ribbon-win {
  color: var(--ribbon-win-color); /*cl*/
  background: var(--ribbon-win-background); /*bg*/
}
/* ribbon-tie */
.ribbon-tie::before,
.ribbon-tie::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  z-index: -1;
  left: -7rem;
  top: 2rem;
  width: 4rem;
  border: 30px solid var(--ribbon-tie-background); /*bg*/
  border-right: 20px solid var(--ribbon-tie-shadow); /*sh*/
  border-left-color: transparent;
  transform: rotate(-5deg);
}

.ribbon-tie::after {
  box-sizing: content-box;
  left: auto;
  right: -7rem;
  border-left: 20px solid var(--ribbon-tie-shadow); /*sh*/
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}

.ribbon-tie {
  color: var(--ribbon-tie-color); /*cl*/
  background: var(--ribbon-tie-background); /*bg*/
}

/* ribbon-lose */
.ribbon-lose::before,
.ribbon-lose::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  z-index: -1;
  left: -7rem;
  top: 2rem;
  width: 4rem;
  border: 30px solid var(--ribbon-lose-background); /*bg*/
  border-right: 20px solid var(--ribbon-lose-shadow); /*sh*/
  border-left-color: transparent;
  transform: rotate(-5deg);
}

.ribbon-lose::after {
  box-sizing: content-box;
  left: auto;
  right: -7rem;
  border-left: 20px solid var(--ribbon-lose-shadow); /*sh*/
  border-right: 30px solid transparent;
  transform: rotate(5deg);
}

.ribbon-lose {
  color: var(--ribbon-lose-color); /*cl*/
  background: var(--ribbon-lose-background); /*bg*/
}

/**********
chips 
**********/
.chip {
  color: #fff;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  cursor: pointer;
  flex-basis: 6rem;
  margin: 0.6rem;
  border: 1rem dashed #fff;
  border-radius: 3.5rem;
  -webkit-border-radius: 3.5rem;
  -moz-border-radius: 3.5rem;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px 1px rgba(90, 90, 90, 0.1), inset 0 35px 1px var(--transparent-background);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px 1px rgba(90, 90, 90, 0.1),
    inset 0 35px 1px var(--transparent-background);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px 1px rgba(90, 90, 90, 0.1), inset 0 35px 1px var(--transparent-background);
  user-select: none;
}
.chip:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 1.5rem #fff;
}
.chip.red {
  background: #ed1f7c;
}
.chip.orange {
  background: #e67f02;
}
.chip.lblue {
  background: #2871c9;
}
.chip.purple {
  background: #7600d6;
}
.chip.dblue {
  background: #031a36;
}
.chip:disabled {
  opacity: 0.5;
  text-decoration: line-through;
  cursor: not-allowed;
}

/**********
controls
**********/
#round {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-btn {
  margin: 0rem 0.5rem;
  padding: 2rem 0.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #0075ff;
  box-shadow: 0px 0px 20px 5px #355;
  transition: 0.25s background-color ease-out;
  user-select: none;
  width: 46%;
  max-width: calc(var(--card-size) * 1.8);
}

.game-btn:hover,
.game-btn:focus,
#double-btn:hover {
  background-color: #0060ff;
  box-shadow: 0px 0px 1.5rem #fff;
}
.game-btn:disabled,
#double-btn:disabled {
  background-color: #888;
  cursor: not-allowed;
}

#double-btn {
  cursor: pointer;
  color: #fff;
  background-color: #0075ff;
  box-shadow: 0px 0px 20px 5px #355;
}

#bet-btn {
  width: 8rem;
}

#allin-btn:hover {
  background-color: #ff6347;
}
#allin-btn:disabled:hover {
  background-color: #888;
  cursor: not-allowed;
}

/**********
controls bank section
**********/

.control-chips {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.fixed-bottom {
  position: fixed !important;
  /* background-color: var(--transparent-background) !important; */
  /* box-shadow: 0px 0px 20px 5px rgba(47, 79, 79, 0.75) !important; */
  bottom: 0 !important;
  /* width: calc(100% - var(--game-container-margin) * 2) !important; */
  width: 100%;
}

/**********
settings 
**********/
form {
  font-size: 1.7rem;
}
form p {
  margin-bottom: 0.7em;
}
form .settings-section {
  margin-bottom: 2.5em;
}
form .settings-section > div {
  display: inline-block;
  padding-right: 0.5rem;
  margin-bottom: 1.5rem;
}

form button {
  margin: 1rem;
  padding: 0.5em 2em;
  font-size: 4rem;
  border-radius: 0.5em;
  cursor: pointer;
  color: #fff;
  background-color: #0075ff;
  box-shadow: 0px 0px 30px 20px #355;
}
form button:hover {
  background-color: #0060ff;
}
form img {
  width: 3em;
  padding-right: 1em;
}
#player-name-input {
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}
