:root {
  --game-container-margin: 2rem;
  --transparent-background: rgba(255, 255, 255, 0.2);
  --card-size: 13rem;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
html {
  font-size: 62.5%;
}

body {
  text-align: center;
  color: #fff;
  background: rgb(0, 69, 38);
  background: radial-gradient(circle, rgba(3, 192, 60, 1) 0%, rgba(0, 69, 38, 1) 100%);
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: var(--game-container-margin);
  height: calc(100vh - (var(--game-container-margin) * 2));
  /* overflow: hidden; */
}
/* #game-container {
  display: none;
}
#settings-container {
  display: none;
} */
/* #bettin-container {
  display: none;
} */
.hidden {
  display: none;
}

#balance {
  position: fixed;
  top: 4rem;
  left: 3rem;
}
.remaining-cards {
  position: fixed;
  top: 2rem;
  right: 3rem;
}
.remaining-cards img {
  width: 4rem;
}
.dealerHand,
.playerHand {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.round-total {
  display: inline-block;
  padding: 2rem;
  min-width: 7.5rem;
  border-radius: 50%;
  background-color: var(--transparent-background);
  font-size: 3rem;
  margin-right: 1rem;
  /* color: red; */
}
#round-bet {
  /* margin: 1em;
  padding: 2rem 1rem; */
  font-size: 3rem;
  border-radius: 0.5rem;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* box-shadow: 0px 0px 20px 5px darkslategray; */
  min-width: 10rem;
}

.card {
  display: inline-block;
  margin-left: calc((var(--card-size) / -2));
  /* animation: dealeffect 1s; */
}
/* TODO scale card size based on wievport */
.card img {
  width: var(--card-size);
}

@keyframes dealeffect {
  0% {
    transform: translateY(-15rem) translateX(35rem) scale(0);
  }
  /* 33% {
    transform: translateY(-15rem) translateX(15rem);
  }
  66% {
    transform: translateY(-10rem) translateX(10rem);
  } */
  100% {
    transform: translateY(0rem) translatex(0rem) scale(1);
  }
}

/**********
chips 
**********/
.chip {
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
  cursor: pointer;
  flex-basis: 7rem;
  margin: 0.6rem;
  border: 1rem dashed #fff;
  border-radius: 15em;
  -webkit-border-radius: 15em;
  -moz-border-radius: 15em;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px 1px rgba(90, 90, 90, 0.1), inset 0 35px 1px var(--transparent-background);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px 1px rgba(90, 90, 90, 0.1),
    inset 0 35px 1px var(--transparent-background);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px 1px rgba(90, 90, 90, 0.1), inset 0 35px 1px var(--transparent-background);
}
.chip.red {
  background: #ed1f7c;
}
.chip.orange {
  background: #e67f02;
}
.chip.lblue {
  background: #2871c9;
}
.chip.purple {
  background: #7600d6;
}
.chip.dblue {
  background: #031a36;
}
.chip.disabled {
  opacity: 0.5;
  text-decoration: line-through;
  cursor: not-allowed;
}

/**********
controls
**********/
#round {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-btn {
  margin: 1em;
  padding: 2rem 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  background-color: #0075ff;
  box-shadow: 0px 0px 20px 5px darkslategray;
  min-width: 10rem;
}
.game-btn:hover {
  background-color: #0060ff;
}
.game-btn:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

#bet-btn {
  margin-top: 40vh;
}

/**********
controls bank section
**********/

#bank .game-btn {
  min-width: 15rem;
}
.control-chips {
  display: flex;
  justify-content: center;
}

#bank {
  position: fixed;
  background-color: var(--transparent-background);
  box-shadow: 0px 0px 20px 5px rgba(47, 79, 79, 0.75);
  bottom: 0;
  width: calc(100% - 4rem);
}

/**********
settings 
**********/
form {
  font-size: 1.7rem;
}
form p {
  margin-bottom: 0.7em;
}
form .settings-section {
  margin-bottom: 2.5em;
}
form button {
  margin: 2em;
  padding: 0.5em 2em;
  font-size: 2em;
  border-radius: 0.5em;
  cursor: pointer;
  color: white;
  background-color: #0075ff;
  box-shadow: 0px 0px 30px 20px darkslategray;
}
form button:hover {
  background-color: #0060ff;
}
form img {
  width: 3em;
  padding-right: 1em;
}
#player-name-input {
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}

.settings-section label {
  padding-right: 2rem;
}

/**********
all in button
**********












 
**********/
#allin-btn {
  position: relative;
  background-color: #ffffff;
  color: #000000;
}
#allin-btn:hover {
  -webkit-animation: burn 1100ms ease-out forwards;
  animation: burn 1100ms ease-out forwards;
}
#allin-btn:hover::before {
  content: "";
  position: absolute;
  left: 40px;
  width: 100px;
  height: 40px;
  background: #ffe66e;
  border-radius: 100%;
  -webkit-animation: flare 1100ms ease-out forwards;
  animation: flare 1100ms ease-out forwards;
}
#allin-btn:hover::after {
  content: "";
  position: absolute;
  right: 40px;
  width: 100px;
  height: 40px;
  background: #ffe66e;
  border-radius: 100%;
  -webkit-animation: flare 1100ms ease-out forwards;
  animation: flare 1100ms ease-out forwards;
}

@-webkit-keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}
@-webkit-keyframes burn {
  0% {
    color: #ff826e;
    background: #ffe66e;
    box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
  }
  100% {
    color: black;
    background: white;
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}
@keyframes burn {
  0% {
    color: #ff826e;
    background: #ffe66e;
    box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
  }
  100% {
    color: black;
    background: white;
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}
